<p id="notice"><%= notice %></p>

<h1>Listing Items In Carts</h1>

<table>
  <thead>
    <tr>
      <th>Product</th>
      <th>Cart</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @items_in_carts.each do |items_in_cart| %>
      <tr>
        <td><%= items_in_cart.product %></td>
        <td><%= items_in_cart.cart %></td>
        <td><%= link_to 'Show', items_in_cart %></td>
        <td><%= link_to 'Edit', edit_items_in_cart_path(items_in_cart) %></td>
        <td><%= link_to 'Destroy', items_in_cart, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Items in cart', new_items_in_cart_path %>
